@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family:'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-width: 250px;
}

h1 a {
  font-size: 1.8rem;
}
h1 a.text-light:hover {
  color: white!important;
  text-decoration: none!important;
}
.new-post{
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex:1;
}
@media (min-width:768px){
    .navbar .btn {
      flex: 0 1 auto;
    }
   
}
.actions {
  margin: 1rem 0;
  margin-left:5px !important;
}
@media (min-width:768px) {
  .actions{
    margin: 0;
  }
}

@media (max-width: 470px){
  .container h1 {
    margin:auto !important; 
    font-size: 40px !important;
  }
  .items{
    font-size: 40px;
  }
}
.actions > *{
  flex: 1;
}
.recrud{
 font-family: 'Bebas Neue', cursive;
 text-decoration: underline;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.bootInput{
  outline: none !important;
  box-shadow: 0;
  border-radius:0;
  border:0;
  border-bottom:solid 2px #212529;
}
.loading {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  font-family: 'Bebas Neue', cursive;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #212529; }
}

.hiddden { 
  display: none;}
